accelerate
torch
safetensors
bitsandbytes
scipy
peft
transformers
tqdm
packaging
pytest
numpy
pyyaml
datasets
psutil
setuptools
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability